<div ng-app="alfi" id="kuis1" name="kuis1" style="margin-bottom: 30px;">
    <div ng-controller="mainCtrl">
        <div class="wrapper" ng-style="{'width': $root.displayW + 'px', 'opacity': 1}">
            <div ng-click="startApp()" ng-if="$root.started" style="padding: 20px;">
                <img src="img/start.png" />
            </div>
            <div ng-if="$root.begin">
                <div class="scrolls" id="scroll-container">
                    <div class="holder" ng-repeat="q in questions track by q.id" ng-style="{'width': $root.displayW}" ng-if="!$root.ended">
                        <div class="panel">
                            <div class="bg-primary panel-heading" ng-bind="q.question"></div>
                            <ol>
                                <li ng-class="{'selected': (answers[position].id == q.id) && (answers[position].index == $index)}" ng-repeat="c in ::q.choices track by $index"
                                class="choice form-group" ng-click="choose(q.id, $index, c.id)">
                                    <span ng-bind="c.value"> </span>
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div class="holder fx-zoom-normal fx-ease-none fx-dur-200" ng-style="{'width': $root.displayW}" ng-if="$root.ended">
                        <h3 ng-if="results.length > 0">Skor akhir:</h3>
                        <p style="color: black">{{score}}</p>
                        <div class="row" style="margin-top:20px">
                            <div class="col-xs-4" ng-repeat="result in ::results track by result.id" style="padding:10px" ;>
                                Jawaban No.{{($index+1)}}
                                <br/>
                                <br/>
                                <button class="btn" ng-class="{'btn-danger': !result.result, 'btn-success': result.result}">
                                    <i class="glyphicon" ng-class="{'glyphicon-remove': !result.result, 'glyphicon-ok': result.result}"></i>
                                    <span ng-if="!result.result">Salah</span>
                                    <span ng-if="result.result">Benar</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer" ng-if="$root.begin && $root.ended">
                <button class="btn btn-primary" ng-click="reload()">
                    <i class="glyphicon glyphicon-refresh"></i>&nbsp;Reload {{$root.begin}}</button>
            </div>
            <div class="panel-footer" ng-if="$root.begin && !$root.ended">
                <button class="btn btn-warning" ng-click="prev()" ng-disabled="position == 0" ng-if="$root.begin && !$root.ended">
                    <i class="glyphicon glyphicon-chevron-left"></i>
                </button>
                <button class="btn btn-primary" ng-click="next()" ng-disabled="position == (questions.length - 1)" ng-if="$root.begin && !$root.ended">
                    <i class="glyphicon glyphicon-chevron-right"></i>
                </button>
                <h3 ng-if="$root.begin && !$root.ended">Answered {{answered}} from {{questions.length}}</h3>
                <button class="btn btn-success fx-zoom-normal fx-ease-none fx-dur-200" ng-click="submit()" ng-if="submitReady && $root.begin && !$root.ended">
                    <i class="glyphicon glyphicon-ok"></i>&nbsp;<span>Submit</span>
                </button>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>